body {
    background-color: #B9D2D4;
    color: #4B787C;
}


#menubar {
    margin: 0;
    padding: 0;
    margin-bottom: 6rem;
    font-size: 1.5rem;
    text-shadow: 0.8px 0.8px 0px #2F4B4E;
    font-family: cursive;
}


#menubar li {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-left: 1rem;
}


#menubar li:first-child {
    margin: 0;
}


#title {
    text-align: right;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #4B787C;
    font-size: 3rem;
    text-shadow: 1px 1px 0px #2F4B4E;
    font-family: cursive;
}



.content {
    color: #244244;
    margin-top: 3rem;
    background-color: #DCE8E9;
    padding: 0.5rem;
    font-size: 1rem;
}

.content:first-of-type {
    margin-top: 0;
}

.content:last-of-type {
    margin-bottom: 3rem;
}



.content > .lang-label {
    font-size: 1.4rem;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.content > .lang-label:nth-of-type(2) {
    margin-top: 2rem;
}

.content > .content-title {
    font-size: 2rem;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    margin-bottom: 2rem;
}